
@import "tailwindcss";


/* Vars */

@theme {
/* Tipographies */
    --font-display: "Funnel Display Variable", sans-serif;
    --font-sans: "Wix Madefor Display Variable", system-ui, sans-serif;

/* Colors */
    --color-theme-depths: #1f1d20;
    --color-theme-lights: #fff4d0;
    --color-theme-lights-hover: #fceab3;
    --color-theme-purple: #2f0764;
    --color-theme-herotxt: #fffefd;
    --color-theme-fg1: #e00379;
    --color-theme-fg2: #ffe043;
    --color-theme-fg2-20: rgba(255, 224, 67, 0.2);
    --color-theme-bg-1: #ff87c7;
    --color-theme-bg-2: #ff4043;
    --color-theme-pg-1: #745ef1;
    --color-theme-pg-2: #9e37c3;

    /* Gradients */

    --gradient-brand: linear-gradient(
        155deg,
        var(--color-theme-bg-2) 0%,
        var(--color-theme-bg-1) 100%
    );

    --gradient-slogan-box: linear-gradient(
        135deg,
        var(--color-theme-pg-1) 0%,
        var(--color-theme-pg-2) 100%
    );

    /* Shadows */

    --shadow-theme-box:  0px 4px 20px 1px  rgba(0, 0, 0, 0.25) ;
    --shadow-theme-btn-ls: 0px 3px 20px 1px var(--color-theme-pg-1);
    --shadow-theme-btn-ds: 0px 3px 20px 1px var(--color-theme-fg1);
    --shadow-theme-card: 0px 2px 20px -1px var(--color-theme-lights)
    
}

/* Styles */

@layer text-styles {
    /* Estilos Base (Desktop) */
    .list { font-family: var(--font-sans); font-size: 1rem; font-weight: 500; line-height: 1.08; }
    .prg { font-family: var(--font-sans); font-size: 1.25rem; font-weight: 400; line-height: 1.40; }
    .italic-prg { font-family: var(--font-sans); font-size: 1rem; font-style: italic; font-weight: 400; line-height: 1.35; }
    .title-secondary { font-family: var(--font-sans); font-size: 2rem; font-weight: 500; line-height: 1.25; }
    .title-principal { font-family: var(--font-display); font-size: 8.375rem; font-weight: 500; line-height: 1.16; }
    .section-title { font-family: var(--font-sans); font-size: 3rem; font-weight: 500; line-height: 1.25; }
    .monster-title { font-family: var(--font-display); font-size: 14.25rem; font-weight: 500; }
    .cards-title { font-family: var(--font-sans); font-size: 2rem; font-weight: 500; line-height: 1.25; }
    .acordeon-title { font-family: var(--font-sans); font-size: 2rem; font-weight: 600; line-height: 3; }

    /* Tablet (Laptops pequeñas / iPads - Menos de 1024px) */
    @media (max-width: 1024px) {
        .title-principal { font-size: 5.5rem; line-height: 1.15; }
        .monster-title { font-size: 9.5rem; }
        .section-title { font-size: 3rem; }
        .cards-title { font-size: 2.25rem; }
        .acordeon-title { font-size: 1.75rem; }
        .prg { font-size: 1.25rem; }
    }

    /* Tablet Pequeña / Pantallas intermedias (Menos de 768px) */
    @media (max-width: 768px) {
        .title-principal { font-size: 4rem; line-height: 1.2; }
        .monster-title { font-size: 7rem; }
        .section-title { font-size: 2.5rem; }
        .cards-title { font-size: 2rem; }
        .acordeon-title { font-size: 1.5rem; }
        .prg { font-size: 1.15rem; }
    }

    /* Celulares (Menos de 480px) */
    @media (max-width: 480px) {
        .title-principal { font-size: 2.75rem; line-height: 1.25; font-weight: 600; text-align: center;}
        .monster-title { font-size: 4.5rem; text-align: center} /* Se reduce drásticamente para no romper el layout */
        .section-title { font-size: 2rem; line-height: 1.2; text-align: center}
        .cards-title { font-size: 1.75rem; line-height: 1.2; text-align: center}
        .acordeon-title { font-size: 1.25rem; line-height: 1.5; text-align: center}
        .prg { font-size: 1.1rem; line-height: 1.4; text-align: center}
        .title-secondary { font-size: 1.25rem; text-align: center}
    }
}

@layer gradients {
    .bg-gradient-brand {
        background: var(--gradient-brand);
    }

    .bg-gradient-slogan {
        background: var(--gradient-slogan-box);
    }

}
