---
import Layout from '../layouts/Layout.astro';
import About from '../sections/About.astro';
import Faq from '../sections/Faq.astro';
import Hero from '../sections/Hero.astro';
import Services from '../sections/Services.astro';
import Slogan from '../sections/Slogan.astro';
import Testimonial from '../sections/Testimonial.astro';
---

<Layout title = "It´s Lotus!">
    <div class="relative">
        <main class="relative z-20 rounded-b-2xl bg-theme-lights shadow-2xl mb-[130vh]">
        <Hero />
        <About />
            <section class="bg-theme-depths rounded-2xl">
                <Slogan />
                <Services />
                <Testimonial />
            </section>
        <Faq />
        </main>
    </div>
    <script>
    </script>
</Layout>