---
import Layout from '../layouts/Layout.astro';
import About from '../sections/About.astro';
import Faq from '../sections/Faq.astro';
import Hero from '../sections/Hero.astro';
import Services from '../sections/Services.astro';
import Slogan from '../sections/Slogan.astro';
import Testimonial from '../sections/Testimonial.astro';
---

<Layout title = "It´s Lotus!">
<Hero />
<main class="rounded-bl-2xl">
    <About />
    <section class="bg-theme-depths rounded-2xl mb-32">
        <Slogan />
        <Services />
        <Testimonial />
    </section>
    <Faq />
</main>
</Layout>
