---
import Layout from '../layouts/Layout.astro';
import PreAbout from '../sections/PreAbout.astro';
import About from '../sections/About.astro';
import Faq from '../sections/Faq.astro';
import Hero from '../sections/Hero.astro';
import Services from '../sections/Services.astro';
import Slogan from '../sections/Slogan.astro';
import Testimonial from '../sections/Testimonial.astro';
---

<Layout title = "It´s Lotus!">
    <div class="relative z-10 pointer-events-none">
        <main class="z-20 rounded-b-2xl shadow-2xl mb-[100vh] pointer-events-auto w-full bg-theme-lights">
        <Hero />
        <PreAbout />
        <About />
            <section class="flex flex-col bg-theme-depths rounded-2xl w-full">
                <Slogan />
                <Services />
                <Testimonial />
            </section>
        <Faq />
        </main>
    </div>
    <script>
    </script>
</Layout>