---
import { FAQS } from "../types/questions";
---

<div class="flex flex-col w-185 ml-16"> 
    {FAQS.map(({ question, answer }) => (
        <div class="acordeon-item items-center cursor-pointer h-full border-b-2 border-theme-purple">
            <div class="flex flex-row justify-between self-center py-3">
                <h3 class="acordeon-title hover:-translate-y-1 duration-300 ease-out">{question}</h3>
                <span class="cross-item acordeon-title inline-block transition-transform duration-300">+</span>
            </div>
            <div class="content-item h-0 overflow-hidden">
                <p class="font-sans text-xl font-thin my-4">
                    {answer}
                </p>
            </div>
        </div>
    ))}
</div>
<script>

    import { gsap } from "gsap";

    const acordeonItems = document.querySelectorAll(".acordeon-item");
    
    acordeonItems.forEach((item) => {
        const content = item.querySelector('.content-item');
        const cross = item.querySelector('.cross-item');
        let isOpen = false;

        item.addEventListener('click', () => {

            if (!isOpen) {
                gsap.to(content, { 
                    height: "auto", 
                    duration: 0.5, 
                    ease: "power2.out" 
                });
                cross?.classList.add('rotate-45');

            } else {
                gsap.to(content, { 
                    height: 0, 
                    duration: 0.4, 
                    ease: "power2.in" 
                });
                cross?.classList.remove('rotate-45');
            }
            isOpen = !isOpen;
        });
    });
</script>