---
import Contact from "./Contact.astro";
---

<section class="back fixed flex flex-col items-end w-full h-screen border-l-purple-200 z-100 translate-x-full" id="contact-overlay">
    <div class="py-8 w-4/5 md:w-1/2 h-dvh md:h-screen flex flex-col bg-theme-depths border px-8 border-white/8 shadow-x min-h-fit shadow-theme-box z-200" id="contact-panel">
        <h1 class="title-secondary text-theme-lights flex mb-24" id="tell-us">Tell us and start growing</h1>
        <Contact variant="overlay" />
    </div>
</section>
<script>
import gsap from 'gsap'
    
        const bookBtn = document.querySelectorAll('a[href="#contact-window"]')
        const contactOverlay = document.getElementById( 'contact-overlay' )
        const contactLogo = document.getElementById('contact-logo')
        
        let timeLine = gsap.timeline({
            paused: true,
            defaults: {
                ease: "expo.out",
            }
        })
        timeLine.to(contactOverlay, {
            autoAlpha: 1,
            x: "0",
            duration: 0.5, 
            ease: "expo.out",
        })
        .to(contactOverlay, {
            backdropFilter: "blur(34px)",
            //backgroundColor: "rgba(00, 10, 190, 0.44)",
            duration: 0.2,
            ease: "none"
        })

            
        bookBtn.forEach( element => {
            element.addEventListener('click', ( e )=>{
                timeLine.play( );
            })
            
        });

        contactOverlay?.addEventListener('click', ( )=>{
            if( event!.target !== contactOverlay){
                return
            }
                timeLine.reverse( )
        })

        contactLogo?.addEventListener('click', ( )=>{   
            timeLine.reverse( )
        })

</script>