---
import Button from "./Button.astro"
---
<form class="font-sans  w-full max-w-4xl mx-auto text-theme-light mt-12 pt-8">

    <div class="flex flex-col gap-8">

    <input 
        type="text" 
        placeholder="Your Name"
        class="bg-transparent border-b border-theme-lights
                pb-4  outline-none
                placeholder:text-theme-lights
                focus:border-theme-lights transition-colors duration-300"
    />

    <input 
        type="email" 
        placeholder="Your Email"
        class="bg-transparent border-b border-theme-lights
                pb-4  outline-none
                placeholder:text-theme-lights
                focus:border-theme-lights transition-colors duration-300"
    />

    <input 
        type="tel" 
        placeholder="Your Phone"
        class="bg-transparent border-b border-theme-lights
                pb-4  outline-none
                placeholder:text-theme-lights
                focus:border-theme-lights transition-colors duration-300"
    />

    <textarea 
        placeholder="Your Message"
        rows="4"
        class="bg-transparent border-b border-theme-lights 
                pb-4  outline-none resize-none
                placeholder:text-theme-lights
                focus:border-theme-light transition-colors duration-300"
    ></textarea>

    </div>

    <div class="flex justify-end mt-12">
        <Button 
            href='services'
            variant= "darkSurface"
            text= "Send message"
        />
</div>

</form>
