---
import Contact from "./Contact.astro";
---

<section class="back fixed flex flex-col items-end justify-center w-full h-screen  border-l-purple-200 z-100 translate-x-full" id="contact-overlay">
    <div class="w-1/2 h-screen flex flex-col bg-theme-depths justify-center  border px-8 border-white/8 shadow-x min-h-fit shadow-theme-box" id="contact-panel">
        <p class="title-secondary text-theme-lights">Tell us and start growing</p>
        <Contact />
    </div>
</section>
<script>

import gsap from 'gsap'
    
        const bookBtn = document.querySelectorAll('a[href="#contact-window"]')
        const contactOverlay = document.getElementById( 'contact-overlay' )
        
        let timeLine = gsap.timeline({
            paused: true,
            defaults: {
                ease: "expo.out",
            }
        })
        timeLine.to(contactOverlay, {
            autoAlpha: 1,
            x: "0",
            duration: 0.5, 
            ease: "expo.out",
        })
        .to(contactOverlay, {
            backdropFilter: "blur(34px)",
            backgroundColor: "rgba(00, 10, 190, 0.44)",
            duration: 0.06,
            ease: "none"
        })

            
        bookBtn.forEach( element => {
            element.addEventListener('click', ( e )=>{
                timeLine.play( );
            })
            
        });

        contactOverlay?.addEventListener('click', ( )=>{
            timeLine.reverse( )
        })
</script>