---
import Contact from "./Contact.astro";
---
<section class="bg-theme-depths sticky top-0">
    <div class="flex flex-row justify-between p-16">
        <div>
            <h1 class="title-secondary text-theme-lights w-68">Be a part of our story. We’ll help you rise.</h1>
        </div>
        <div class="w-1/2">
            <Contact />
        </div>
    </div>
    <div>
        <div class="flex flex-row list text-theme-lights">
            <div class="flex flex-col h-[40vh] w-1/2 px-16">
                <img src="src/assets/tipo-logo.svg" class="w-full" alt="lotus">
                <ul class=" flex justify-between w-full mt-4">
                    <li>services</li>
                    <li>about</li>
                    <li>contact</li>
                </ul>
            </div>
            <div class="flex flex-col items-end w-1/2 p-16 justify-end">
                <p class="mb-2">Copyright Lotus Software Development 2026</p>
                <p>Design & developed by Enciende Studio</p>
            </div>
        </div>
    </div>
</section>