---
import Button from "./Button.astro";
---

<header class="flex justify-end px-16 py-3 w-full fixed z-20">
        <div class="bg-theme-depths flex flex-row justify-between items-center w-fit px-2 py-1 rounded-sm">
            <img src="/public/lotus-logo.svg" alt="lotus logo image" class="w-12 mr-3">
            <ul class="list text-theme-lights flex justify-between w-fit  gap-12 mx-8">
                <li>services</li>
                <li>about</li>
                <li>contact</li>
            </ul>
                <Button 
                    href='services'
                    variant= "darkSurface"
                    text= "Book a meeting"
                />
        </div>
</header>
