---
import Button from "./Button.astro";
---

<header class="flex justify-end px-16 pt-3 w-full fixed z-100" >
    <div class="flex w-fit" id="navCont" >
        <div class="bg-theme-depths flex flex-row justify-between items-center px-2 py-2 rounded-sm z-10 overflow-hidden" >
            <div class="flex justify-end items-center overflow-hidden"   id="navBar">
                <img src="/public/lotus-nav-logo.svg" alt="lotus logo image" class="w-10 mr-3">
                <ul class="list text-theme-lights flex justify-between w-fit  gap-12 mx-8 overflow-hidden">
                    <li>services</li>
                    <li>about</li>
                    <li>contact</li>
                </ul>
            </div>
                <Button 
                href='services'
                variant= "darkSurface"
                text= "Book a meeting"
            />
        </div>
    </div>
</header>
<script>
    import gsap from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    const navBar = document.getElementById('navBar');
    const header = document.getElementById('navCont')

    const dinamicNav = gsap.to(navBar, {
            width: 0,
            padding: 0,
            scrollTrigger: {
                trigger: "body",
                start: "45rem top",
                end: "+=400",
                scrub: true,
                invalidateOnRefresh: true,
            }
        });


    header?.addEventListener('mouseenter', ( ) => {
        gsap.to( navBar, {
            width: "auto",
            padding: 0,
            duration: 0.3,
            overwrite: "auto",
        })
        
    })

    header?.addEventListener('mouseleave', ( ) => {
        gsap.to( navBar, {
            width: dinamicNav.scrollTrigger?.progress === 0 ? "auto" : 0,
            duration: 0.2,
            overwrite: "auto",
        })
        
    })
</script>
