---
import Button from "../components/Button.astro"
---

<section class="p-16 text-theme-purple mb-124 bg-theme-lights">
    <div class="mb-32">
        <h1 class="section-title mb-32 w-10/12">
            Lotus helps tech-driven businesses grow even when conditions
            aren’t ideal.
        </h1>
        <div class="border border-theme-purple mb-8"></div>
        <div class="flex flex-row">
            <p class="prg w-1/3 max-w-100 mr-14">Great products don’t grow in perfect conditions. <br> They grow when experience, structure and vision come together.</p>
            <p class="prg w-1/3 max-w-100">At Lotus, development expertise meets strategic project leadership — so your product can rise, evolve and reach its full potential.</p>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class=" grid grid-rows-12 grid-cols-12 w-1/2 max-h-120" id="images">
            <img class="col-start-3 col-end-11 row-start-3 row-end-7 rounded-lg shadow-theme-box" src="/public/clients/happy-client-1.png" alt="Happy customer looking to the right">
            <img class="col-start-2 col-end-5 row-start-5 w-36 rounded-lg shadow-theme-box "  src="/public/clients/happy-client-2.png" alt="Happy customer with a big smile">
            <img class="col-start-9 col-end-12 row-start-2 w-36 rounded-lg shadow-theme-box" src="/public/clients/happy-client-3.png" alt="Happy customer laughing">
            <div class="cloneAnchor">
                <div class="cloenWrapper"></div>
            </div>
        </div>
        <div class="flex flex-col items-start justify-center w-1/2 ml-18">
            <h1 class="title-secondary mb-8 w-90">
                    We turn complexity, uncertainty and raw ideas 
                    into solid, scalable 
                    digital products.
            </h1>
            <Button 
                href="",
                text="Let´s grow",
                variant="lightSurface"
            />
        </div>
    </div>
</section>