---
import Button from "../components/Button.astro"
---

<section class="p-16 text-theme-purple bg-theme-lights relative">
<div class="max-w-500 mx-auto">
    <div class="grid gap-0 grid-cols-6 md:grid-cols-24 grid-rows-12 max-w-full h-screen" id="space-el">
        
        <img class="col-start-2 col-end-5 md:col-start-4 md:col-end-10 row-start-2 md:row-start-4 rounded-lg shadow-theme-box object-cover" 
        src="/web-projects/clients/happy-client-1.png" alt="Happy customer" />
        
        <img class="col-start-1 col-end-3 md:col-start-3 md:col-end-5 row-start-4 md:row-start-5 w-24 md:w-36 rounded-lg shadow-theme-box" 
        src="/web-projects/clients/happy-client-2.png" alt="Happy customer" />
        
        <img class="col-start-5 col-end-7 md:col-start-9 md:col-end-11 row-start-1 md:row-start-3 w-20 md:w-32 rounded-lg shadow-theme-box" 
        src="/web-projects/clients/happy-client-3.png" alt="Happy customer" />
    
        <div class="col-start-5 row-start-5 md:col-start-9 md:row-start-8" id="anchor">
            <div class="flex sm:w-20 lg:w-27 aspect-square will-change-transform bg-gradient-slogan rounded-lg" id="box-el"></div>
        </div>
    
        <div class="flex flex-col items-start justify-center col-start-13 col-end-23 row-start-6">
            <h1 class="title-secondary mb-6 md:mb-8 w-[90%]">
                We turn complexity, uncertainty and raw ideas 
                into solid, scalable 
                digital products.
            </h1>
            <Button 
                href="",
                text="Let´s grow",
                variant="lightSurface"
            />
        </div>
    </div>
</div>
</section>
<script>

import { gsap } from 'gsap'
// @ts-ignore
import { Flip } from 'gsap/dist/Flip';
import { ScrollTrigger } from  'gsap/ScrollTrigger';

document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(Flip, ScrollTrigger);

    let flipAnimation: gsap.core.Tween | gsap.core.Timeline | null = null;
    const space = document.getElementById('space-el');
    const objective = document.getElementById('slogan-box');
    const originalBox = document.getElementById('box-el');
    const anchor = document.getElementById('anchor');


    let pinnedClon: HTMLElement | null = null;
    let isClonActive = false;

    function createClon() {
        if (isClonActive || !originalBox || !anchor || !space) return;

        pinnedClon = originalBox.cloneNode(true) as HTMLElement;
        
        const originalRect = originalBox?.getBoundingClientRect(  );
        gsap.set(pinnedClon, {
            position: "fixed",
            left: originalRect.left,
            top: originalRect.top,
            width: originalRect.width,
            height: originalRect.height,
            willChange: "transform",
            zIndex: 10
        });

        anchor.appendChild(pinnedClon);
        gsap.set(originalBox, { opacity: 0 });
        isClonActive = true;
        
        const state = Flip.getState(pinnedClon);


        gsap.set(pinnedClon, {
            width: "100%",
            height: space.offsetHeight,
            top: originalRect.top,
            left: 0
        });

        flipAnimation = Flip.from(state, {
            duration: 1,
            ease: "power3.in",
            paused: true,
        });
    }

    function removeClon( ) {
        if (!isClonActive) return;
        if (pinnedClon) {
            pinnedClon.remove( );
            pinnedClon = null;
        }
        gsap.set(originalBox, { opacity: 1 });
        isClonActive = false;
        flipAnimation = null;
    }

    const gridCompen = 25;

    ScrollTrigger.create({
        trigger: space,
        start: "center center",
        end: ( ) => `+=${(space?.offsetHeight ?? 0) - ((originalBox?.offsetTop ?? 0) - ( originalBox?.offsetHeight ?? 0 )) + gridCompen}`, 
        scrub: true,

        onEnter: createClon,
        onEnterBack: createClon,
        onLeaveBack: removeClon,
        onUpdate: (self) => {
            if (flipAnimation) {
                flipAnimation.progress(self.progress);
            }
            if (self.progress >= 1) {
                gsap.set(pinnedClon, { autoAlpha: 0 });
                gsap.set(objective, { autoAlpha: 1 });
            } else {
                gsap.set(pinnedClon, { autoAlpha: 1 });
                gsap.set(objective, { autoAlpha: 0 });
            }
        }
    });

});
