---
import Acordeon from "../components/Acordeon.astro"
---

<section class="overflow-hidden">
    <div class="text-theme-purple h-[200vh]">
        <h1 class="section-title mb-56 w-3/4 px-16">
            Great digital products emerge through clarity,
            experience and constant evolution.
        </h1>
        <div class="border border-theme-purple mb-8 mx-16"></div>
        <div class="flex flex-row justify-between">
            <Acordeon />
            <div class= "grid grid-rows-12 grid-cols-12 w-1/2 max-h-120">
                <h2 class="prg col-start-6 col-end-13">Our role is to guide that growth — 
                    from uncertainty to stability, from complexity to clarity.
                </h2>
                <img class="col-start-1 col-end-14 row-start-5 row-end-12 ml-48" src="src/assets/bgfaq-grad.svg" alt="decorative gradient">
            </div>
        </div>
    </div>
</section>