---
import Button from "../components/Button.astro";
//import bgHeroGrad from "../assets/bghero-grad.svg"
---

<section class="flex flex-col px-16 items-center h-screen w-full bg-contain bg-center relative  mb-24">
    <img src="/public/bghero-grad.svg" alt="background" id="parallax-grad-1" class="absolute -z-1 inset-0 -mt-2  will-change-transform">
    <div class="flex flex-col justify-center items-center w-auto h-full" >
        <h2 class="title-secondary text-center text-theme-purple">Growing digital products in complex <br>environments</h2>
        <h1 class="title-principal text-theme-herotxt text-center mb-10">Welcome to <br>Lotus!</h1>
        <Button href="" variant="lightSurface" text="Let´s grow your product" />
    </div>
</section>

