---
import Button from "../components/Button.astro";
---

<section class="flex flex-col px-2 pt-16 sm:pt-0 items-center  w-full h-fit bg-contain bg-center z-40 overflow-visible " id="hero">
    <div class="flex items-center justify-center max-w-500 mx-auto w-full relative">
        <div class="flex flex-col justify-center items-center w-fit aspect-square ">
            <div class="flex w-fit aspect-square overflow-visible">
                <img src="/web-projects/bghero-grad.svg" alt="background" class="absolute z-0 -inset-y-10 inset-x-4 w-full contrast-118" id="follow-el" />
            </div>
            <div class="z-2 flex flex-col justify-center items-center w-fit aspect-square  opacity-0 blur-md transition-all duration-500 ease-out" id="hero-content">
                <h2 class="title-secondary text-center text-theme-purple z-1">Growing digital products in complex <br>environments</h2>
                <h1 class="title-principal [-webkit-text-stroke:1px_theme(colors.black)] md:[-webkit-text-stroke:0px] text-theme-herotxt text-center mb-10 z-1">Welcome to <br>Lotus!</h1>
                <Button href={'#contact-window'} variant="lightSurface" text="Let´s grow your product" />
            </div>
            </div>
    </div>
</section>
<script>
    const heroCont = document.getElementById('hero-content')
    
    document.addEventListener("DOMContentLoaded", ( ) => {
        heroCont?.classList.remove("opacity-0", "blur-md")
    })
</script>


