---
import Button from "../components/button.astro";
import bgHeroGrad from "../assets/bghero-grad.svg"
---

<section class="flex flex-col p-16 items-center h-screen bg-center bg-cover" style={`background-image: url(${bgHeroGrad.src})`}>
    <div class="flex flex-col justify-center items-center w-auto h-full" >
        <h2 class="title-secondary text-center text-theme-purple">Growing digital products in complex <br>environments</h2>
        <h1 class="title-principal text-theme-herotxt text-center mb-10">Welcome to <br>Lotus!</h1>
        <Button href="" variant="lightSurface" text="Let´s grow your product" />
    </div>
</section>