<section class="p-20 text-theme-purple bg-theme-lights relative" id="pre-about">
    <div class="mb-6">
        <h1 class="section-title mb-32 w-3/4"id="title-el">
            Lotus helps tech-driven businesses grow even when conditions
            aren’t ideal.
        </h1>
        <div class="border border-theme-purple mb-8 w-full" id="line-el"></div>
        <div class="flex flex-row">
            <p class="prg w-1/3 max-w-100 mr-14">Great products don’t grow in perfect conditions. <br> They grow when experience, structure and vision come together.</p>
            <p class="prg w-1/3 max-w-100">At Lotus, development expertise meets strategic project leadership — so your product can rise, evolve and reach its full potential.</p>
        </div>
    </div>
</section>
<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { SplitText } from "gsap/SplitText";

    gsap.registerPlugin( ScrollTrigger, SplitText )

    document.addEventListener("DOMContentLoaded", ( )=> {

        document.fonts.ready.then( function( ) {
            const line = document.getElementById('line-el')
            const title = document.getElementById('title-el')
            gsap.from( line, {
                scrollTrigger: {
                    trigger: title,
                    start: "center center",
                //    markers: true,
                },
                width: "2px",
                ease: "none",
                duration: 1
            })
            const splitTitle =  SplitText.create( title, {
                type: "lines, chars",
                linesClass: "split-lines"
            } )

            gsap.fromTo( splitTitle.chars, 
            {
                opacity: 0.2, 
            }, 
            { 
                opacity: 1,
                stagger: 1,
                scrollTrigger: {
                    trigger: "#pre-about",
                   // markers: true,
                    start: "top 95%",
                    end: "center center",
                    scrub: true,
                }
            })
        })


    })

</script>