---
import Card from "../components/Card.astro";
---

<section class="flex flex-col p-16 text-theme-lights relative">
    <h1 class="monster-title text-nowrap">What we build</h1>
        <div class="flex flex-col items-center px-16 relative h-auto">
            <Card></Card>
    </div>
</section>