<section>
        <div class="flex flex-col w-full h-screen relative bg-theme-lights-bg" id="track-el">
            <div class="flex flex-col justify-center rounded-1xl bg-gradient-slogan w-full h-dvh  text-theme-lights items-center sticky top-0" id="slogan-box">
                <div class="flex flex-col w-full  items-center justify-items-start absolute" id="experience-arr">
                    <h1 class="title-secondary leading-0">Built with</h1>
                    <h1 class="title-principal leading-0">experience</h1>
                </div>
                <div class="flex flex-col w-full  items-center justify-center absolute" id="clarity-arr">
                    <h1 class="title-secondary leading-0">Guided with</h1>
                    <h1 class="title-principal leading-0">clarity</h1>
                </div>
            </div>
        </div>
</section>

<script>
    
    import { gsap } from 'gsap';
    import { SplitText } from 'gsap/SplitText';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(SplitText, ScrollTrigger);

    const clarity = document.getElementById("clarity-arr");
    const experience = document.getElementById("experience-arr");

    document.fonts.ready.then(( ) => {
        const splitExperience = new SplitText(experience, {
            type: "chars",
            mask: "chars"
        });
        const splitClarity = new SplitText(clarity, {
            type: "chars",
            mask: "chars"
        });


        gsap.set([splitExperience.chars, splitClarity.chars], { yPercent: 105 });

        let master = gsap.timeline({
            scrollTrigger: {
                trigger: '#track-el',
                start: "top top",
                end: "+=2000",
                pin: true,
                scrub: true,       
                anticipatePin: 1,
            }
        });

        // ESCENA 1 
        master.to(splitExperience.chars, {
            yPercent: 0,
            stagger: 0.04,
            duration: 0.4,
            ease: "power4.out"
        }, 0);

        // ESCENA 2
        master.to(splitExperience.chars, {
            yPercent: -105,
            stagger: 0.03,
            duration: 0.4,
            ease: "power4.in"
        }, 1);

        // ESCENA 3 
        master.to(splitClarity.chars, {
            yPercent: 0,
            stagger: 0.04,
            duration: 0.4,
            ease: "power4.out"
        }, 2);

        // ESCENA 4 
        master.to(splitClarity.chars, {
            yPercent: -105,
            stagger: 0.03,
            duration: 0.6,
            ease: "power4.in"
        }, 2.6);
    });
});
    
</script>