<section>
    <div class="flex flex-col h-[250vh] relative">
        <div class="flex flex-col originalBox rounded-2xl bg-gradient-slogan h-screen text-theme-lights items-center justify-center sticky top-0">
            <div class="mask flex flex-col items-center justify-start h-1/4 overflow-hidden">
                <h1 class="title-secondary">Built with</h1>
                <h1 class="title-principal">experience</h1>
                <h1 class="title-secondary">Guided with</h1>
                <h1 class="title-principal">clarity</h1>
            </div>
        </div>
    </div>
</section>