---
import TestiCard from "../components/TestiCard.astro";
---

<section class="overflow-hidden mb-16 pl-16">
    <h1 class="monster-title text-nowrap text-theme-lights">
        For whom we build
    </h1>
    <div class="flex flex-row gap-8 mb-32">
            <TestiCard />
    </div>
</section>