---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro";
import ContactWindow from "../components/ContactWindow.astro";
import '@fontsource-variable/funnel-display';
import '@fontsource-variable/wix-madefor-display' ;
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>It's Lotus!</title>
		<link rel="icon" href="/lotus-logo.svg" />
		<link rel="icon" type="image/svg+xml" href={`web-projects/favicon.svg`} />
		<meta name = "description" content="Lotus development agency"/>
		
	</head>
	<body class="relative flex flex-col min-h-screen bg-theme-depths">
		
		<Header />
		<ContactWindow />
		<slot />
		<Footer />
		<script>
			import gsap from 'gsap';
			import { ScrollTrigger } from 'gsap/ScrollTrigger';
			import Lenis from 'lenis';

			gsap.registerPlugin(ScrollTrigger)

			const init = ( ) => {
				const lenis = new Lenis();
				lenis.on('scroll', ScrollTrigger.update) ;
				gsap.ticker.add((time) => {
					lenis.raf(time * 1000);
				});
	
				gsap.ticker.lagSmoothing(0);

			}

			init( );

		const bookBtn = document.querySelectorAll('a[href="#contact-window"]')
        const contactOverlay = document.getElementById( 'contact-overlay' )
        
        let timeLine = gsap.timeline({
            defaults: {
                ease: "expo.out",
            }
        })
            
        bookBtn?.addEventListener('click', ( )=>{
            timeLine.to(contactOverlay, {
                autoAlpha: 1,
                x: "0",
                duration: 0.5, 
                ease: "expo.out",
            })
            
            .to(contactOverlay, {
                backdropFilter: "blur(24px)",
                backgroundColor: "rgba(120, 80, 220, 0.24)",
                duration: 0.08,
                ease: "none"
            })
        })

        contactOverlay?.addEventListener('click', ( )=>{
        
        timeLine.to(contactOverlay, {
                backdropFilter: "blur(0px)",
                backgroundColor: "rgba(120, 80, 220, 0)",
                duration: 0.08,
                ease: "none"
            })
                .to(contactOverlay,{
                    x: "100%",
                    duration: 0.5,
                    ease: "expo.in"
                }) 
            })
			
			
		</script>
	</body>
	<style is:global>

		html.lenis, html.lenis body {
			height: auto;
		}

		.lenis.lenis-smooth {
			scroll-behavior: auto !important;
		}

		.lenis.lenis-smooth [data-lenis-prevent] {
			overscroll-behavior: contain;
		}

		.lenis.lenis-stopped {
			overflow: hidden;
		}

		.lenis.lenis-scrolling iframe {
			pointer-events: none;
		}
</style>
</html>
