---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import '@fontsource-variable/funnel-display';
import '@fontsource-variable/wix-madefor-display' ;
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>It's Lotus!</title>
		
		<link rel="icon" href="/lotus-logo.svg" />

		<meta name = "description" content="Lotus development agency"/>
		
	</head>
	<body class="bg-theme-lights h-screen relative">
		<Header />
		<slot />
		<Footer />

		<script>
			import gsap from 'gsap';
			import { ScrollTrigger } from 'gsap/ScrollTrigger';
			import Lenis from 'lenis';

			gsap.registerPlugin(ScrollTrigger)

			const init = ( ) => {
				const lenis = new Lenis();
				lenis.on('scroll', ScrollTrigger.update) ;
				gsap.ticker.add((time) => {
					lenis.raf(time * 1000);
				});
	
				gsap.ticker.lagSmoothing(0);

			}

			init( );
		</script>
	</body>
	<style is:global>

		html.lenis, html.lenis body {
			height: auto;
		}

		.lenis.lenis-smooth {
			scroll-behavior: auto !important;
		}

		.lenis.lenis-smooth [data-lenis-prevent] {
			overscroll-behavior: contain;
		}

		.lenis.lenis-stopped {
			overflow: hidden;
		}

		.lenis.lenis-scrolling iframe {
			pointer-events: none;
		}
</style>
</html>
